.title__network__item{
    margin-right: 3.75rem;
    margin-top: 1rem;
    transition: .2s;
}

.title__network__item:hover{
    transform: scale(1.1);
    cursor: pointer;
    text-decoration: underline;
}

@media screen and (max-width: 768px){
    .title__network__item{
        margin-right: 1.75rem;
    }
}

@media screen and (max-width:480px) {
    .title__network__item{
        font-size: 1rem;
        margin-right: .5rem;
    }
}