.academic__title{
    padding-top: 5.125rem;
    font-weight: 700;
    font-size: 2rem;
    line-height: 38px;
}

@media screen and (max-width: 768px) {
    .academic__title{
        font-size: 1.5rem;
        line-height: 26px;
    }
}
